@model IEnumerable<Control>

@{
    ViewData["Title"] = "Control List";
}
<h1><a asp-controller="Domains" asp-action="Details"asp-route-standardId="@ViewBag.StandardId" asp-route-id="@ViewContext.RouteData.Values["domainId"]" class="card-link">@ViewBag.DomainName</a></h1>
<h2>Controls List</h2>

<p class="text-right">
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
